@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Switzer';
    font-weight: 200;
    src: url('assets/fonts/Switzer-Extralight.woff2') format('woff2'),
      url('assets/fonts/Switzer-Extralight.woff') format('woff'),
      url('assets/fonts/Switzer-Extralight.ttf') format('ttf');
  }

  @font-face {
    font-family: 'Switzer';
    font-weight: 300;
    src: url('assets/fonts/Switzer-Light.woff2') format('woff2'),
      url('assets/fonts/Switzer-Light.woff') format('woff'),
      url('assets/fonts/Switzer-Light.ttf') format('ttf');
  }

  @font-face {
    font-family: 'Switzer';
    font-weight: 400;
    src: url('assets/fonts/Switzer-Regular.woff2') format('woff2'),
      url('assets/fonts/Switzer-Regular.woff') format('woff'),
      url('assets/fonts/Switzer-Regular.ttf') format('ttf');
  }

  @font-face {
    font-family: 'Switzer';
    font-weight: 400;
    font-style: italic;
    src: url('assets/fonts/Switzer-Italic.woff2') format('woff2'),
      url('assets/fonts/Switzer-Italic.woff') format('woff'),
      url('assets/fonts/Switzer-Italic.ttf') format('ttf');
  }

  @font-face {
    font-family: 'Switzer';
    font-weight: 500;
    src: url('assets/fonts/Switzer-Medium.woff2') format('woff2'),
      url('assets/fonts/Switzer-Medium.woff') format('woff'),
      url('assets/fonts/Switzer-Medium.ttf') format('ttf');
  }

  @font-face {
    font-family: 'Switzer';
    font-weight: 500;
    font-style: italic;
    src: url('assets/fonts/Switzer-MediumItalic.woff2') format('woff2'),
      url('assets/fonts/Switzer-MediumItalic.woff') format('woff'),
      url('assets/fonts/Switzer-MediumItalic.ttf') format('ttf');
  }

  @font-face {
    font-family: 'Switzer';
    font-weight: 600;
    src: url('assets/fonts/Switzer-Semibold.woff2') format('woff2'),
      url('assets/fonts/Switzer-Semibold.woff') format('woff'),
      url('assets/fonts/Switzer-Semibold.ttf') format('ttf');
  }

  @font-face {
    font-family: 'Switzer';
    font-weight: 700;
    src: url('assets/fonts/Switzer-Bold.woff2') format('woff2'),
      url('assets/fonts/Switzer-Bold.woff') format('woff'),
      url('assets/fonts/Switzer-Bold.ttf') format('ttf');
  }

  html,
  body {
    font-family: 'Switzer', ui-sans-serif, system-ui, 'Segoe UI', Roboto,
      'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
    height: 100%;
  }

  body {
    @apply selection:bg-violet-200 selection:text-violet-900;
  }

  input[type='search']::-webkit-search-decoration,
  input[type='search']::-webkit-search-cancel-button,
  input[type='search']::-webkit-search-results-button,
  input[type='search']::-webkit-search-results-decoration {
    display: none;
  }
}

@layer utilities {
  .container-padding {
    @apply px-4 sm:px-6 lg:px-8;
  }

  .active {
    @apply text-4xl;
  }

  .ring-outline {
    @apply outline-none ring-fuchsia-500 ring-offset-2 transition-all duration-200 focus-visible:ring-1;
  }

  .mySwiper [class^="swiper-button-"]::after {
    @apply text-black text-4xl opacity-80;
  }

  .testimonial [class^="swiper-button-"]::after {
    @apply text-3xl;
  }
}
